<p id="notice"><%= notice %></p>

<p>
  <strong>Hoge:</strong>
  <%= @fuga.hoge %>
</p>

<p>
  <strong>Hogehge:</strong>
  <%= @fuga.hogehge %>
</p>

<%= link_to 'Edit', edit_fuga_path(@fuga) %> |
<%= link_to 'Back', fugas_path %>
file:///home/tsunakun/projects/memo/app/views/fugas/index.html.erb
