<p id="notice"><%= notice %></p>

<p>
  <strong>Hoge:</strong>
  <%= @fuga.hoge %>
</p>

<p>
  <strong>Hogehge:</strong>
  <%= @fuga.hogehge %>
</p>

<%= link_to 'Edit', edit_fuga_path(@fuga) %> |
<%= link_to 'Back', fugas_path %>|
<%= link_to 'Textで出力', fuga_path(@fuga,:format=>:txt) %>|
